@model Tournevent.Models.KategorienDaten

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isGeschlechtW = true;
    if (Model != null)
    {
        isGeschlechtW = (Model.Geschlecht == "w");
    }
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Add.css")
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>KategorienDaten</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.kategorieID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kategorieID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Abkuerzung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Abkuerzung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Abkuerzung, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JahrgangVon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JahrgangVon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JahrgangVon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JahrgangBis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JahrgangBis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JahrgangBis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Geschlecht, htmlAttributes: new { @class = "control-label" })
        <div class="dropdownForm">
            @Html.DropDownList("Geschlecht", new List<SelectListItem>
            {
                new SelectListItem { Text = "Weiblich", Value = "w", Selected=isGeschlechtW},
                new SelectListItem { Text = "Männlich", Value = "m", Selected=!isGeschlechtW}
            }, new { @class = "athlet" })
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.AvailableDisziplinen)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.ID_Disziplin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="tableActions">
                    @{
                        bool contains = false;
                        foreach (var id in item.Kategorie_Disziplin)
                        {

                            contains = (id.ID_Kategorie == Model.kategorieID);
                        }
                        if (!contains)
                        {
                            @Html.ActionLink("Hinzufügen", "Add", new { disziplinId = item.ID_Disziplin, kategorieId = Model.kategorieID })
                        }
                        else
                        {
                            @Html.ActionLink("Entfernen", "Remove", new { disziplinId = item.ID_Disziplin, kategorieId = Model.kategorieID })
                        }
                    }
                </td>
            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
