@model Tournevent.Models.VereinsDaten
@{
    ViewBag.Title = "VereinsDaten";
    Layout = null;
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Login.css")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="content">
    <div class="custom-card">
        <div class="card-header">
            <h1>Vereinsdaten-Erfassung</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.HiddenFor(m => m.userId, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.VereinsName)
                @Html.TextBoxFor(m => m.VereinsName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.VereinsName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Vorname)
                @Html.TextBoxFor(m => m.Vorname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Vorname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nachname)
                @Html.TextBoxFor(m => m.Nachname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nachname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Telefon)
                @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Telefon, "", new { @class = "text-danger" })
            </div>
            <div class="actionGroup">
                <button type="submit" class="submit">Register</button>
                @Html.ActionLink("Login", "Login", null,
                   new { @class = "actionLink" })
            </div>

        </div>
    </div>
</div>
}
