@model IEnumerable<Tournevent.Models.VereinsDaten>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")

<h2>Anfragen</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VereinsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VereinsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.ActionLink("Annehmen", "Accept", new { id = item.userId }) |
                @Html.ActionLink("Ablehnen", "Reject", new { id = item.userId })
            </td>
        </tr>
    }

</table>
