@model IEnumerable<Tournevent.Models.DisziplinenDaten>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")

<h2>Disziplinen</h2>
<p>
    @Html.ActionLink("Hinzufügen", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abkuerzung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnzahlVersuche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZeitTeilnehmer)
        </th>
        <th>Aktionen</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.disziplinenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abkuerzung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnzahlVersuche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZeitTeilnehmer)
            </td>
            <td class="tableActions">
                @Html.ActionLink("Edit", "Edit", new {  id=item.disziplinenId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.disziplinenId })
            </td>
        </tr>
    }

</table>
