@model IEnumerable<Tournevent.Models.DisziplinenDaten>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")

<h2>Disziplinen</h2>

@*<p>
    @Html.ActionLink("Hinzufügen", "Create")
</p>*@
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Disziplin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abkuerzung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wettkampfart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anzTeilnehmer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Versuche)
        </th>
        <th>Aktionen</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.disziplinenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disziplin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abkuerzung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wettkampfart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anzTeilnehmer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Versuche)
            </td>
            <td class="tableActions">
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
