@model IEnumerable<Tournevent.Models.Verein>
    @using Tournevent.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Add.css")
<h2>Vereine verwalten</h2>


<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.ID_Verein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="tableActions">
                @{
                    bool contains = false;
                    foreach (var id in item.Anmeldung)
                    {

                        contains = (id.ID_Wettkampf == GlobalVariables.WettkampfId);
                    }
                    if (!contains)
                    {
                        @Html.ActionLink("Hinzufügen", "Add", new { id = item.ID_Verein })
                    }
                    else
                    {
                        @Html.ActionLink("Entfernen", "Remove", new { id = item.ID_Verein })
                    }
                }
            </td>
        </tr>
    }

</table>
<div class="tableActions">
    @Html.ActionLink("Zurück", "Index")
</div>