@model Tournevent.Models.VereinKontoDaten

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Login.css")
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Add.css")
<h2>Verein bearbeiten</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="content">
    <div class="custom-card">
        <div class="card-header">
            <h4>Kontodaten bearbeiten</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.HiddenFor(model => model.KontoDaten.userId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KontoDaten.userId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KontoDaten.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.KontoDaten.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KontoDaten.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KontoDaten.Passwort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.KontoDaten.Passwort, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.KontoDaten.Passwort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KontoDaten.ConfirmPasswort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.KontoDaten.ConfirmPasswort, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.KontoDaten.ConfirmPasswort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KontoDaten.Telefon, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.KontoDaten.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KontoDaten.Telefon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="actionGroup">
                @Html.ActionLink("Back to List", "Index")
                <button type="submit" class="submit">Save</button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="custom-card">
        <div class="card-header">
            <h4>Vereinsdaten bearbeiten</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.HiddenFor(model => model.VereinsDaten.vereinsId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VereinsDaten.vereinsId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.VereinsDaten.VereinsName, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.VereinsDaten.VereinsName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsDaten.VereinsName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsDaten.Ort, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.VereinsDaten.Ort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsDaten.Ort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsDaten.PLZ, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.VereinsDaten.PLZ, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsDaten.PLZ, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="actionGroup">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "actionLink" })
                <button type="submit" class="submit">Save</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="custom-card">
        <div class="card-header">
            <h4>Vereinsverantwortlicherdaten bearbeiten</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.HiddenFor(model => model.VereinsverantwortlicherDaten.vereinsId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.vereinsId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.HiddenFor(model => model.VereinsverantwortlicherDaten.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsverantwortlicherDaten.Vorname, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.VereinsverantwortlicherDaten.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.Vorname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsverantwortlicherDaten.Nachname, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.VereinsverantwortlicherDaten.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.Nachname, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.VereinsverantwortlicherDaten.Strasse, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.VereinsverantwortlicherDaten.Strasse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.Strasse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsverantwortlicherDaten.Hausnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.VereinsverantwortlicherDaten.Hausnummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.Hausnummer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsverantwortlicherDaten.Ort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.VereinsverantwortlicherDaten.Ort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.Ort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VereinsverantwortlicherDaten.PLZ, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.VereinsverantwortlicherDaten.PLZ, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VereinsverantwortlicherDaten.PLZ, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="actionGroup">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "actionLink" })
                <button type="submit" class="submit">Save</button>
            </div>
        </div>
    </div>
</div>
    }


