@model IEnumerable<Tournevent.Models.VereinKontoDaten>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Add.css")

<h2>Vereine</h2>

<p class="tableActions">
    @Html.ActionLink("Vereine verwalten", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VereinsDaten.VereinsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VereinsverantwortlicherDaten.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VereinsverantwortlicherDaten.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontoDaten.Telefon)
        </th>
        <th>Aktionen</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.KontoDaten.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VereinsDaten.VereinsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VereinsverantwortlicherDaten.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VereinsverantwortlicherDaten.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontoDaten.Telefon)
            </td>
            <td class="tableActions">
                @Html.ActionLink("Athletenübersicht", "Athleten", new { id = item.KontoDaten.userId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.KontoDaten.userId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VereinsDaten.vereinsId })
            </td>
        </tr>
    }

</table>
