@model Tournevent.Models.AthletDaten

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Add.css")
<h2>Athlet Bearbeiten</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Athlet Daten</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Jahrgang, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Jahrgang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Jahrgang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Startnummer, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Startnummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Startnummer, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Geschlecht, htmlAttributes: new { @class = "control-label" })
            <div class="dropdownForm">
                @Html.DropDownList("GeschlechtId", new List<SelectListItem>
                {
                    new SelectListItem { Text = "Weiblich", Value = "1", Selected=(Model.Geschlecht == "w")},
                    new SelectListItem { Text = "Männlich", Value = "2", Selected=(Model.Geschlecht == "m")}
                }, new { @class = "wettkampf" })
            </div>
        </div>


        <div class="actionGroup tableActions">

            <input type="submit" value="Speichern" class="submit" />
            @if (User.IsInRole("Vereinsverantwortlicher"))
            {
                @Html.ActionLink("Zurück", "Index", new { @class = "actionLink" })
            }
            else
            {
                @Html.ActionLink("Zurück", "Index", "Startnummer")
            }
        </div>
    </div>
}

<div>


</div>
