@model IEnumerable<Tournevent.Models.AthletDaten>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Add.css")


<h2>Athleten</h2>

<p>
    @Html.ActionLink("Hinzufügen", "Create", null,
                       new { @class = "actionLink" })

</p>
<h1>@ViewBag.Athleten</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geburtsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geschlecht)
        </th>
        <th>Aktionen</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geburtsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geschlecht)
            </td>
            <td class="tableActions">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div class="actionGroup tableActions">

    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Zurück", "Index", "Verein")
    }
</div>
